[Unit]
Description=CloudberryDB host metric parallel loader service
After=postgresql-16.service

[Service]
User=cbmon
Group=cbmon
Type=simple

Environment="PYTHONPATH=/usr/local/cbmon/bin/pylib"
ExecStart=/usr/local/cbmon/bin/parallel_loader --config /usr/local/cbmon/etc/config.ini
Restart=always
RestartSec=30
SyslogIdentifier=parallel_loader
KillMode=process
TimeoutSec=60

[Install]
WantedBy=multi-user.target
